img{
    width: 100%;
}

button{
    width: 100%;
}

.container{
    justify-content: center;
    border: solid pink 1 px;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(248, 62, 93);
}

p{
    font-size: 18px;
}

img {
    border-radius: 12px;
    border:rgb(248, 62, 93) solid 2px;
}

h1{
    color: rgb(248, 62, 93);
}

button{
    background-color: rgb(248, 62, 93);
    border-radius: 5px;
    color: white;
    height: 50px;
}

.message{
    border:rgb(248, 62, 93) solid 2px;
    border-radius: 12px;
    padding: 10px;
}